<footer>
  <div class="grid-container">
		<div class="grid-margin-x grid-x">
			<ul class="cell medium-1 social_links">
				{{ if .Site.Params.facebook }}
				<li>
					<a href="https://www.facebook.com/{{ .Site.Params.facebook }}" title="Facebook">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}
				{{ if .Site.Params.twitter }}
				<li>
					<a href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}
				{{ if .Site.Params.email }}
				<li>
					<a href="mailto:{{ .Site.Params.email }}" title="Email me">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}

				<li>
					<a href='{{ "index.xml" | relURL }}' title="RSS">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>

			</ul>
			<div class="cell medium-5">
				<ul>
					{{ range .Site.Menus.main.ByWeight }}
					<li>
						<a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
					</li>
					{{ end }}
					<li>
						<a title="Archive" href="/posts">Archive</a>
					</li>
				</ul>
			</div>
			<div class="cell auto mailing_list">
				<h4>Keep In Touch</h4>
				{{ partial "mailchimp_form.html" . }}
			</div>
		</div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
<script src='{{ "/js/app.js" | relURL }}' charset="utf-8"></script>

<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>

{{ template "_internal/google_analytics.html" . }}
