<footer>
  <div class="grid-container">
		<div class="grid-margin-x grid-x">
			<ul class="cell medium-1 social_links">
				{{ if .Site.Params.facebook }}
				<li>
					<a href="https://www.facebook.com/{{ .Site.Params.facebook }}" title="Facebook">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}
				{{ if .Site.Params.twitter }}
				<li>
					<a href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}
				{{ if .Site.Params.email }}
				<li>
					<a href="mailto:{{ .Site.Params.email }}" title="Email me">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				{{ end }}

				<li>
					<a href="{{ .Site.BaseURL}}index.xml" title="RSS">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>		

			</ul>
			<div class="cell medium-5">
				<blockquote>DSA is the major organization on the American left with an all-embracing moral vision, systematic social analysis, and political praxis rooted in the quest for radical democracy, social freedom, and individual liberties.
					—Cornel West</blockquote>
			</div>
			<div class="cell auto mailing_list">
				<h4>Keep In Touch</h4>
				{{ partial "mailchimp_form.html" . }}
			</div>
		</div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
<script src="{{ .Site.BaseURL }}/js/app.js" charset="utf-8"></script>

{{ template "_internal/google_analytics.html" . }}
