<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
	<button class="menu-icon" type="button" data-toggle="main-nav"></button>
	<h1 class="title-bar-title">Menu</h1>
</div>

<div class="top-bar" id="main-nav">
	<div class="top-bar-left">
		<h1 class="h2">
			<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		</h1>
	</div>

	<div class="top-bar-right">
		<ul class="menu">
			{{ range .Site.Menus.main.ByWeight }}
				<li>
					<a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
				</li>
			{{ end }}
		</ul>
	</div>
</div>
