<div class="title-bar" data-responsive-toggle="main-mobile-nav" data-hide-for="medium">
	<button class="menu-icon" type="button" data-toggle="main-mobile-nav"></button>
	<h1 class="title-bar-title">Menu</h1>
</div>

<div class="hide-for-medium top-bar" id="main-mobile-nav">
	<div class="top-bar-right">
		<ul class="menu">
			{{ range .Site.Menus.main.ByWeight }}
				<li>
					<a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
				</li>
			{{ end }}
		</ul>
	</div>
</div>

<div class="show-for-medium" id="main_heading">
	<div class="grid-x grid-margin-x align-center" id="main_heading_container">
		<div class="cell medium-2 medium-offset-1">
			<img src="{{ .Site.BaseURL }}/img/dsa-logo.png"
		       alt="The DSA logo colorized: A red rose, and underneath it two hands clasped in a handshake, one brown hand and one white hand."/>
		</div>	
		<h1 class="medium-auto">Chattanooga<br />Democratic Socialists</h1>
	</div>
</div>
<div id="main_nav" class="show-for-medium">
	<div class="grid-container">
		<ul class="menu align-center">
			{{ range .Site.Menus.main.ByWeight }}
			<li>
				<a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
</div>
