<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}
		<div role="main" class="container main-content">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<ul>
						{{ range (.Data.Pages.ByParam "event_data.date").Reverse }}
						<li>
							<a href="{{.Permalink}}">{{ dateFormat "Mon Jan 2 2006" (.Param "event_data.date") }} | {{.Title}}</a>
							<p>{{ .Param "event_data.blurb" }}</p>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
