<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>

		{{ partial "nav.html" . }}
		<div role="main" class="grid-container main-content">
			<h2>{{ .Title }}</h2>
			<div class="grid-x grid-margin-x">
				<div class="cell medium-3  event_label">
					When?
				</div>
				<div class="cell auto">
					{{ dateFormat "Mon Jan 2 2006 2:00 PM" (.Param "event_data.date") }}
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell medium-3  event_label">
					Where?
				</div>
				<div class="cell auto">
					<div class="address_name">
						{{ .Param "event_data.location.name" }} 
					</div>
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell medium-3  event_label">
					RSVP Here:
				</div>
				<div class="cell auto rsvp-icons">
					<a href='{{ .Param "event_data.facebook_url" }}'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<a href='{{ .Param "event_data.eventbrite_url" }}'><i class="fa fa-calendar" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="content row">
				{{.Content}}
			</div>
			<div class="grid-x map">
				<iframe src='https://www.google.com/maps/embed/v1/search?q={{ .Param "event_data.location.address" }}&key=AIzaSyAFc6i_EpD1mG_SNvsmFUVccKrM6HTq4DI' height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
